@import "tailwindcss";

/*Для кастомизации меняем primary и secondary цвета*/
:root {

  /* Светлая тема */
  --background: 250 250 250;   /* почти белый фон */
  --surface: 240 240 245;      /* панели, карточки */
  --text: 30 30 30;            /* тёмный текст, мягкий черный */
  --text-muted: 120 120 125;   /* второстепенный текст, серый */
  --primary: 20 20 20;         /* акцентные элементы, насыщенный черный */
  --primary-hover: 50 50 50;   /* чуть светлее при наведении */
  --on-primary: 255 255 255;   /* текст/иконки на чёрной кнопке */
  --secondary: 160 160 165;    /* второстепенные элементы, серый */
  --border: 200 200 205;       /* границы */
  --success: 48 200 88;        /* зеленый, успех */
  --warning: 255 180 0;        /* желтый */
  --error: 255 60 50;          /* красный */

  /* Шрифт */
  --font-onest: 'Onest', sans-serif;

  /* Размеры */
  --appMaxWidth: 750px;
}

.dark {
  /* Тёмная тема */
  --background: 10 10 10;        /* насыщенно-чёрный фон */
  --surface: 25 25 25;           /* панели, карточки */
  --text: 240 240 245;           /* основной светлый текст */
  --text-muted: 150 150 155;     /* второстепенный текст */
  --primary: 255 255 255;        /* белый фон кнопок и акцентов */
  --primary-hover: 200 200 205;  /* чуть серее при наведении */
  --on-primary: 20 20 20;        /* текст/иконки на белой кнопке */
  --secondary: 40 40 45;         /* тёмный текст на белой кнопке, больше контраста */
  --border: 60 60 65;            /* границы */
  --success: 48 210 100;         /* зеленый */
  --warning: 255 160 10;         /* желтый */
  --error: 255 70 60;            /* красный */
}

@theme inline {
  --color-background: rgb(var(--background));
  --color-surface: rgb(var(--surface));
  --color-text: rgb(var(--text));
  --color-text-muted: rgb(var(--text-muted));
  --color-primary: rgb(var(--primary));
  --color-primary-hover: rgb(var(--primary-hover));
  --color-on-primary: rgb(var(--on-primary));
  --color-secondary: rgb(var(--secondary));
  --color-border: rgb(var(--border));
  --color-success: rgb(var(--success));
  --color-warning: rgb(var(--warning));
  --color-error: rgb(var(--error));
}

/* Глобальные стили для body */
@layer base {
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--text));
    min-height: 100vh;   /* чтобы фон занимал весь экран */
    margin: 0;
    font-family: var(--font-onest), sans-serif;
  }

  a {
    @apply no-underline text-inherit cursor-pointer;
  }

  button {
    @apply cursor-pointer;
  }

  .app {
    margin: 0 auto;
  }
}

.date-input__hidden-input,
.date-input__hidden-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  border: transparent;
  cursor: pointer;
  outline: none;
}